*.cache
include/wvautoconf.h.in
*.[oa]
*.so
*.libs
*~
.*.d
/config.log
/config.mk
/config.status
/configure.real
*.so.*
/reconfigure
*/tests/*test
/wvtestmain
/tmp*.ini
/wvfdstream.t.tmp
/CC
/CXX
/lib
/obj
-MP
lib*.list
