*.cache
/_wvautoconf.h.in
*.[oa]
*.so
*~
.*.d
/config.log
/config.mk
/config.status
lib*.so.*
/reconfigure
/configure.real
/lib
*/tests/*test
/wvtestmain
/tmp*.ini
/wvfdstream.t.tmp
/CC
/CXX
/lib*.list
/sources.list
