; Really simple one-level ini file for WvDBusD to use an SSL certificate.
;
; cert should just map to a valid PEM-encoded certificate, ie:
;cert = -----BEGIN CERTIFICATE-----\
;MIICUjCCAbugAwIBAgIENWBLDjANBgkqhkiG9w0BAQUFADApMRYwFAYKCZImiZPy\
;LGQBGRMGaGVybWVzMQ8wDQYDVQQDEwZoZXJtZXMwHhcNMDgwODA2MjEzMzQyWhcN\
;MTgwODA0MjEzMzQyWjApMRYwFAYKCZImiZPyLGQBGRMGaGVybWVzMQ8wDQYDVQQD\
;EwZoZXJtZXMwgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBALLf5+O19MWDAnlP\
;otoSesP/lJOOct2SMS2rNI1SNRW2kZ89UZRUiFnPelumZen9AUYeL25IrPf77wwp\
;JpDLE0Zbw8TNE/hpBEwpCiP0AkD6+CWUz8VPGJoS3olEiUIvtVAQ3zI2BiPmY/qQ\
;s6tf+2A1JXe8TtKX4d03rU/yuMchAgMBAAGjgYYwgYMwHQYDVR0OBBYEFH62VZzj\
;T/O2/Ied4j4JVWLCK0MzMBEGCWCGSAGG+EIBAQQEAwIGQDAVBglghkgBhvhCAQwE\
;CBYGaGVybWVzMA4GA1UdDwEB/wQEAwIDqDAJBgNVHRMEAjAAMB0GA1UdJQQWMBQG\
;CCsGAQUFBwMBBggrBgEFBQcDAjANBgkqhkiG9w0BAQUFAAOBgQAQiWKeBs85g619\
;ThrZ2uIt+xJBsC25pmJwtCFc5U5f6Z1PTvbbriM+tgaubUa1yTC7WF2Q3Cfitczv\
;ZUZlW3z7cid1ZWNQet+r7MwmE51mgrlNZNsPcU/2LlG4Ym4GFdqeuiVsEdANmFzP\
;V6bxkeOYeFqXNsUXN1xMk1OHimmRYQ==\
;-----END CERTIFICATE-----
;
; privrsa should map to a valid PEM-encoded private RSA key, ie:
;
;privrsa = -----BEGIN RSA PRIVATE KEY-----\
;MIICWwIBAAKBgQCy3+fjtfTFgwJ5T6LaEnrD/5STjnLdkjEtqzSNUjUVtpGfPVGU\
;VIhZz3pbpmXp/QFGHi9uSKz3++8MKSaQyxNGW8PEzRP4aQRMKQoj9AJA+vgllM/F\
;TxiaEt6JRIlCL7VQEN8yNgYj5mP6kLOrX/tgNSV3vE7Sl+HdN61P8rjHIQIDAQAB\
;AoGAYZreHRofm1sWkX2L/nTQ+nxO5Yl4UkFAhowCXA78moGJypuaFVdfI6qcOMB+\
;ogSFmm5EMWiEwbh+Q2N9AMtfEz57dpcZlDj+/NsQPwIFaVsMsb7H8Pqf5Wo4EdDN\
;RpgCfpJoALKCqNnUtkNFmwTnNS0PyLEdyuEyBmrt4OhiklUCQQDihKlP1mtXQnSM\
;k2oIBL7zW6PuiE4zVXlGkOF1zhmhmEhIJEyWPWa+xaPxhyXnVI9u9zjgMB+zIqXg\
;TKTfTwD7AkEAyifQClJWYWNrvpaYkzLdnwX4DMsHRa1LQyPxHrxAODO0bf2AC+1W\
;oeX3jiFQ5ttx/BXhGpjW6KJ/nYBh11H1kwJATY2qAkGhQqDoEnEuLkyhq+RGPhbA\
;32Z2PSjBaHoF4IOoy7pR1mZzVQGJ3dmtqoQTD6To/ii70bMdI6xaDnKYHQJAQyk4\
;78TtF8vdBuOnavfyMxvbjfyBvP9WysaNG+X0+/cJkaUvvkaqin0JYrnk093CH7rx\
;H1H5zC34cc4uM0fyawJAK1VdW5K1Xx05V5ZAFlDYBNS7LNaVAbHhm0t/CeqNI3Dp\
;cwDNVoNs9ebL8w5I5LV2QDQ7HzcAfe9V9YJY0I4xFw==\
;-----END RSA PRIVATE KEY-----
